.logoContainer {
    background: #fff;
    border-radius: 28px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 16px auto;
    width: 60px;
    height: 60px;
}

.logo {
    height: 40px;
    width: 40px;
}